header,
footer,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-top h2,
.agenda-search-pane-title.pane-section-top,
.agenda-search-pane-title.pane-section-top h2,
.pane-facetapi .pane-title,
.menuslider-controls button,
header::before,
.news-item-spotlight .news-item-header:after,
.node-spotlight .node-header:after {
  background-color: #39b9be;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body blockquote,
#menu-display-top-menu a:hover,
.region-content .panel-pane .pane-section-body .news-item-spotlight .news-item-header h5,
.region-content .panel-pane .pane-section-body .node-spotlight .node-header h5 {
  color: #39b9be;
}

div.pane-listing .paddle-landing-page-listing-teaser .node,
#block-paddle-menu-display-first-level .level-1 > .menu-item.active-trail,
#block-paddle-menu-display-first-level .level-1 > .menu-item:hover {
  border-color: #39b9be;
}

.pane-google-custom-search .form-submit,
.form-submit-container .form-submit,
.form-submit,
#block-paddle-menu-display-first-level .level-1 > .active-trail,
.menuslider-controls button:hover,
figcaption.image-pane-caption:before {
  background-color: #2b979d;
}

.region-content a:hover,
#block-paddle-menu-display-first-level .level-1 > .menu-item:hover > a,
#block-paddle-menu-display-first-level .level-1 > .menu-item.active-trail:hover > a,
#block-paddle-menu-display-first-level .level-1 > .menu-item > a.megadropdown-expanded {
  color: #2b979d;
}

#block-paddle-menu-display-first-level .level-1 > .menu-item > a.megadropdown-expanded {
  border-top-color: #2b979d;
}

.news-item-spotlight .news-item-spotlight-image img:hover,
.node-spotlight .node-spotlight-image img:hover {
  border-bottom-color: #2b979d;
}

.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-bottom {
  background-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-0 .menu,
.panel-pane.paddle-color-palettes-subpalette-0 .menu a,
.search-pop-up:hover,
.region-content .panel-pane .pane-section-body .news-item-spotlight .news-item-header h4,
.region-content .panel-pane .pane-section-body .news-item-spotlight .news-item-header h4 a,
.region-content .panel-pane .pane-section-body .node-spotlight .node-header h4,
.region-content .panel-pane .pane-section-body .node-spotlight .node-header h4 a {
  color: #5e5e5e;
}

.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body h3,
.pane-content .pane-section-body .paddle-cultuurnet-spotlight-details h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-0 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-0 table th,
.pane-incoming-rss .entity.paddle-incoming-rss-feed-item--magazine > h2 > a,
.panel-pane.paddle-color-palettes-subpalette-0 .listing.table-listing a {
  color: #39b9be;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-0 table tr {
  border-color: #39b9be;
}

.header-title,
.header-subtitle,
#block-paddle-menu-display-first-level .level-1 > .menu-item > a,
#block-paddle-menu-display-footer-menu a,
#menu-display-disclaimer-menu .menu-item a,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-0 .pane-section-top a h2,
.agenda-search-pane-title.pane-section-top,
.agenda-search-pane-title.pane-section-top h2,
.mobile-menu a {
  color: #ffffff;
}

#block-paddle-menu-display-current-level-plus-one .menu-item a:hover,
#block-paddle-menu-display-first-level .level-2 > .menu-item > a:hover,
.region-content blockquote,
.region-content h3,
.region-content a,
.search-api-page-results h3 a {
  color: #1c7074;
}

#main-nav,
#fake-menu-bg,
.pane-google-custom-search .form-submit:hover,
.form-submit-container .form-submit:hover,
.form-submit:hover,
hr,
a.label-link.active-facet.active,
#menu-display-current-level-plus-one .menuslider-controls button:hover,
.mobile-menu,
.block-search-api-page {
  background-color: #1c7074;
}

.region-content table tr,
#block-paddle-menu-display-first-level .level-1 > .menu-item > a,
#block-paddle-menu-display-first-level .level-1 > .menu-item {
  border-color: #1c7074;
}

.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-top h2 {
  background-color: #1C6F73;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body blockquote {
  color: #1C6F73;
}

.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-bottom {
  background-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-1 .menu,
.panel-pane.paddle-color-palettes-subpalette-1 .menu a {
  color: #5e5e5e;
}

.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-1 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-1 table th,
.panel-pane.paddle-color-palettes-subpalette-1 .listing.table-listing a {
  color: #1C6F73;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-1 table tr {
  border-color: #1C6F73;
}

.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-1 .pane-section-top a h2 {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-top h2 {
  background-color: #735781;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body blockquote {
  color: #735781;
}

.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-bottom {
  background-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-2 .menu,
.panel-pane.paddle-color-palettes-subpalette-2 .menu a {
  color: #5e5e5e;
}

.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-2 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-2 table th,
.panel-pane.paddle-color-palettes-subpalette-2 .listing.table-listing a {
  color: #735781;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-2 table tr {
  border-color: #735781;
}

.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-2 .pane-section-top a h2 {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-top h2 {
  background-color: #2b92be;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body blockquote {
  color: #2b92be;
}

.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-bottom {
  background-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-3 .menu,
.panel-pane.paddle-color-palettes-subpalette-3 .menu a {
  color: #5e5e5e;
}

.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-3 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-3 table th,
.panel-pane.paddle-color-palettes-subpalette-3 .listing.table-listing a {
  color: #2b92be;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-3 table tr {
  border-color: #2b92be;
}

.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-3 .pane-section-top a h2 {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-top h2 {
  background-color: #4ba144;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body blockquote {
  color: #4ba144;
}

.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-bottom {
  background-color: #5dbe55;
}

.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-4 .menu,
.panel-pane.paddle-color-palettes-subpalette-4 .menu a {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-4 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-4 table th,
.panel-pane.paddle-color-palettes-subpalette-4 .listing.table-listing a {
  color: #ffffff;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-4 table tr {
  border-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-4 .pane-section-top a h2 {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-top h2 {
  background-color: #735781;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body blockquote {
  color: #735781;
}

.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-bottom {
  background-color: #926da5;
}

.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-5 .menu,
.panel-pane.paddle-color-palettes-subpalette-5 .menu a {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-5 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-5 table th,
.panel-pane.paddle-color-palettes-subpalette-5 .listing.table-listing a {
  color: #ffffff;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-5 table tr {
  border-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-5 .pane-section-top a h2 {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-top,
.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-top h2 {
  background-color: #23789c;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body blockquote {
  color: #23789c;
}

.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-bottom {
  background-color: #2b92be;
}

.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body p,
.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body,
.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body a,
.panel-pane.paddle-color-palettes-subpalette-6 .menu,
.panel-pane.paddle-color-palettes-subpalette-6 .menu a {
  color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-bottom a,
.region-content .panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body h2,
.region-content .panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body h3,
.region-content .panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body h4,
.region-content .panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body h4 a,
.region-content .panel-pane.paddle-color-palettes-subpalette-6 .pane-section-body h5,
.region-content .panel-pane.paddle-color-palettes-subpalette-6 table th,
.panel-pane.paddle-color-palettes-subpalette-6 .listing.table-listing a {
  color: #ffffff;
}

.region-content .panel-pane.paddle-color-palettes-subpalette-6 table tr {
  border-color: #ffffff;
}

.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-top a,
.panel-pane.paddle-color-palettes-subpalette-6 .pane-section-top a h2 {
  color: #ffffff;
}



.header-title {
  font-family: "FlandersArtSerif-Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 35px;
}

.header-subtitle {
  font-family: "FlandersArtSerif-Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
}

h1#page-title {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 35px;
}

.breadcrumb-item a, .breadcrumb-item > span {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
}

.region-content .landing-page-body p {
  font-family: "latolight", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
}

.pane-section-body .paddle-landing-page-listing-teaser h4 a {
  font-family: "latobold", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.region-content h2 {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
}

.region-content h3 {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}

.region-content h4 {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
}

.region-content h5 {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.region-content p {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.node-type-basic-page .region-content a:link {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.node-type-basic-page .region-content a:visited {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.node-type-basic-page .region-content a:hover {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.node-type-basic-page .region-content li {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.panel-pane .pane-section-body p {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.panel-pane .pane-section-body a {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.panel-pane .pane-section-body li {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.region-content blockquote {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
}

body footer {
  background-image: url(http://drupalvm.test/sites/all/themes/paddle_theme/patterns/binding_dark.png);
  background-attachment: scroll;
  background-repeat: repeat;
  background-position: center center;
}

#block-paddle-menu-display-footer-menu a {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

#block-paddle-menu-display-footer-menu .level-2 a {
  font-family: "FlandersArtSerif-Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
}

#menu-display-disclaimer-menu .menu-item a {
  font-family: "latoregular", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}